---
import { getCollection } from "astro:content";
import Layout from "../components/layout.astro";

const projects = await getCollection("projects");
const sides = await getCollection("sides");
---

<Layout title='Case Studies'>
  <section class='l-flow'>
    <h1>Case Studies</h1>

    <div class='l-grid' data-cols='even'>
      <div class='l-flow'>
        <h2>Client Work</h2>
        <ul class='l-flow'>
          {
            projects.map(project => (
              <li>
                <a class='card' href={`/case-studies/${project.slug}`}>
                  <img
                    src={project.data.image}
                    alt={`${project.data.title} hero image`}
                  />
                  <div class='l-flow'>
                    <h3>{project.data.title}</h3>
                    <p>
                      <strong>Client:</strong> {project.data.client}
                    </p>
                  </div>
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      <div class='l-flow'>
        <h2>On The Side</h2>
        <ul class='l-flow'>
          {
            sides.map(side => (
              <li class='card'>
                <img
                  src={side.data.image}
                  alt={`${side.data.title} hero image`}
                />
                <div class='l-flow'>
                  <h3>{side.data.title}</h3>
                  <p>
                    {side.render().then(({ Content }) => (
                      <Content />
                    ))}
                  </p>
                  <a href={side.data.link}>View Project</a>
                </div>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </section>
</Layout>

<style>
  .card {
    display: grid;
    background-color: var(--themeElement);
    box-shadow: 0 8px 16px hsl(0 0% 0% / 0.1);
    border-radius: var(--radius);
    overflow: hidden;
  }

  .card > div {
    padding: 1.2rem 2rem;
  }

  .card img {
    object-fit: cover;
    height: 100%;
  }
</style>
