---
import type { MarkdownInstance } from "astro";
import { HeadingThree, Text } from "./typography";
import { Image } from "@astrojs/image/components";

const { projects } = Astro.props as {
  projects: MarkdownInstance<Project>[];
};
---

<div class='grid grid-cols-1 gap-4 md:grid-cols-2'>
  {
    projects.map(project => (
      <a
        href={project.url}
        class='cursor-pointer rounded-sm border-2 border-gray-900 bg-white 
          transition hover:rotate-2 hover:scale-105 focus:rotate-2 focus:scale-105'
        aria-label={`Link to ${project.frontmatter.title}`}
      >
        <Image
          src={project.frontmatter.image}
          alt={project.frontmatter.title}
          format='webp'
          width={1000}
          height={500}
          class='max-h-96 w-full object-cover transition'
        />

        <div class='space-y-6 p-8'>
          <Text>Client: {project.frontmatter.client}</Text>
          <HeadingThree>{project.frontmatter.title}</HeadingThree>
          <hr class='w-20 border-gray-900' />
          <Text>{project.frontmatter.summary}</Text>
        </div>
      </a>
    ))
  }
</div>
