---
import type { GetStaticPaths } from "astro";
import { Image } from "astro:assets";
import { getCollection, CollectionEntry } from "astro:content";
import BaseLayout from "../../components/base.astro";

export const getStaticPaths: GetStaticPaths = async function () {
  const posts = await getCollection("posts");
  return posts.map(post => ({
    params: { slug: post.slug },
    props: { post }
  }));
};

const { post } = Astro.props as { post: CollectionEntry<"posts"> };
const { Content } = await post.render();
---

<BaseLayout title={post.data.title} description={post.data.summary}>
  <section class='flow'>
    <h1>{post.data.title}</h1>
    <p>
      {post.data.date.toLocaleDateString("en-gb", { dateStyle: "long" })}
    </p>
    <hr />
    <p>{post.data.summary}</p>
    <Image
      src={post.data.image.src}
      alt={`${post.data.title} hero image`}
      class='content-image'
      format='webp'
      width={post.data.image.width}
      height={post.data.image.height}
    />
    <article class='flow'>
      <Content />
    </article>
  </section>
</BaseLayout>
