---
import type { GetStaticPaths } from "astro";
import { Image } from "astro:assets";
import { CollectionEntry, getCollection } from "astro:content";
import BaseLayout from "../../components/base.astro";

export const getStaticPaths: GetStaticPaths = async function () {
  const projects = await getCollection("projects");
  return projects.map(project => ({
    params: { slug: project.slug },
    props: { project }
  }));
};

const { project } = Astro.props as { project: CollectionEntry<"projects"> };
const { Content } = await project.render();
---

<BaseLayout title={project.data.title} description={project.data.summary}>
  <section class='flow'>
    <h1>{project.data.title}</h1>
    <p>{project.data.client}</p>
    <hr />
    <p>{project.data.summary}</p>
    <Image
      src={project.data.image.src}
      alt={`${project.data.title} hero image`}
      class='content-image'
      format='webp'
      width={project.data.image.width}
      height={project.data.image.height}
    />
    <article class='flow'>
      <Content />
    </article>
  </section>
</BaseLayout>
