---
import { Image } from "@astrojs/image/components";
import { getCollection, getEntryBySlug } from "astro:content";
import BaseLayout from "../../components/base.astro";

export async function getStaticPaths() {
  const projects = await getCollection("projects");
  return projects.map(project => ({
    params: { slug: project.slug }
  }));
}

const project = await getEntryBySlug("projects", Astro.params.slug!);
---

<BaseLayout title={project?.data.title} description={project?.data.summary}>
  <section class='l-flow'>
    <h1>{project?.data.title}</h1>
    <p>{project?.data.client}</p>
    <hr />
    <p>{project?.data.summary}</p>
    <Image
      format='webp'
      width={1000}
      height={600}
      src={project?.data.image!}
      alt={`${project?.data.title} hero image`}
    />
    <article class='l-flow'>
      {project?.render().then(({ Content }) => <Content />)}
    </article>
  </section>
</BaseLayout>
